@import "./components/header.scss";
@import "./fonts.scss";
@import "./reset/reset.scss";
@import "./components/main.scss";
@import "./components/footer.scss";
@import "./components/adept.scss";
//font-family: 'Lato';
//font-family: 'Neue Metana';
//font-family: 'Inter';

html{
    background: rgb(255, 255, 255);
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    .start{
        background: white;
        font-size: 75px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        padding: 15.5px 122px;
        border-radius: 10px;
        //text-align: center;
        margin-top: 60px;
        letter-spacing: -0.02em;
        transition: all 0.3s;
        //border: 2px solid #FFFFFF;
    }

    .start:hover{
        color: #FFFFFF;
        background: none;
        border: 2px solid #1C1717;
        box-shadow: inset 0px 0px 25px 0px rgba(255, 255, 255, 1);

    }
    
}

.container{
    width: 1364px;
    //border: solid 2px green;
    margin: 0 auto;
    .download-btn{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 41px;
        border: 1px solid #ffffff;
        padding: 2px 36px;
        text-align: center;
        letter-spacing: -0.02em;
        border-radius: 140px;
        color: #000000;
        margin-bottom: 70px; 
        transition: all 0.3s;
        
    }
    .download-btn:hover{
        color: #FFFFFF;
        background: #000000;
        border: 1px solid #000000;
    }
    .catalog-btn{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 41px;
        border: 1px solid #FFFFFF;
        border-radius: 140px; 
        text-align: center;
        letter-spacing: -0.02em;
        padding: 2px 46px;
        margin-bottom: 60px;
        color: #FFFFFF;
        transition: all 0.3s;
        
      }
    .catalog-btn:hover{
        color: #2F80ED;
        background: #ffffff;
        border: 1px solid #FFFFFF;
    }
}