.header 
  
    h3 Stone 
    .menu-nav.menu-active 
      .menu
        a(href="")  About Us
        a(href="") How we work?
        a(href="") Feedbacks
        a(href="") Tarifs
      button.close
    button.mobile
