.header 
    .fixed-header
      .fixed-header-content
        .logo-nav
          h3 Stone 
          
          button.burger
            span.line.line_first
            span.line.line_second
            span.line.line_third
            span.line.line_fourth
        
        .menu-nav.menu-active 
          .menu
            a(href="")  About Us
            a(href="") How we work?
            a(href="") Feedbacks
            a(href="") Tarifs
    
    
