.dark-section 
  .top-info
    h5 International company “Stone”
    h5 Provision of stone walking services
  .title
    h2 Walking your
    h2.h-stone stones
    img.stone(src="./assets/imgs/stone.png", alt="")
    button.start Start
  .bottom-info 
    h5 Steve White’s project
    .links
      a.gmail(href="") 
        img(src="./assets/imgs/email.png", alt="")
      a.inst(href="") 
        img(src="./assets/imgs/insta.png", alt="")


.stones-info
  .text-item
    h5 In the wild, stones like to walk
    p.p-text You have probably already seen similar photos, on which the movement of stones is clearly visible. At first glance, this seems unthinkable. After all, a block is the most motionless of what only exists on Earth. But you need to take a closer look at the stones. Then it turns out that not everything is so simple. You may not believe it, but stone sculptures grow old, breathe, think and even <b>move.</b>
  .scrolling-wrapper
    .card 
      img(src="./assets/imgs/stone-first.png", alt="")
    .card 
      img(src="./assets/imgs/stone-second.png", alt="")
    .card 
      img(src="./assets/imgs/stone-third.png", alt="")
    .card 
      img(src="./assets/imgs/stone-four.png", alt="")
    .card 
      img(src="./assets/imgs/stone-five.png", alt="")
    .card 
      img(src="./assets/imgs/stone-six.png", alt="")

.human 
  .top-h 
    h5 How was it started
    h5 2021
  img.photo(src="./assets/imgs/icon-human.png", alt="")
  p.text Young and ambitions, Steve White, decided to assemble a team of experts to find out the reason for this behavior of stones, and to figure out 
  p.quote “why the stones do not walk in the city?”
.video-section
  .video
    img.on-video(src="./assets/imgs/img-on-video.png", alt="")
    button.play() 
      img(src="./assets/imgs/play.svg", alt="")
  .info-under-video 
    .number-info
      .first-block 
        h3 6730
        p Interviewed
      .second-block 
        h3 3,2%
        p Walk their stones
      .third-block 
        h3 74%
        p Neglect the health of their stones
    .chart 
      img(src="./assets/imgs/vector.png", alt="")
      p.chart-p At the end of the study, we noticed a dependence of the life expectancy of the stones on the number of walks per day. 
    p.info-under-chart Based on the data we collected and analyzed, at the end of the qualitative and quantitative studies, which included 6743 reviewers, we can conclude that <b>daily walks</b> for the stones are very <b>important</b> and <b>necessary</b>, then the stones <b>will live happily ever after</b>.
.how-we-works 
  h2 How we works
  .conditions-item 
    .conditions-card
      p.num 01
      h4 Lorem ipsum dolor sit amet consectetur
      h5 Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur
    .conditions-card 
      p.num 02
      h4 Lorem ipsum dolor sit amet consectetur
      h5 Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur
    .conditions-card 
      p.num 03
      h4 Lorem ipsum dolor sit amet consectetur
      h5 Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur
    .conditions-card 
      p.num 04
      h4 Lorem ipsum dolor sit amet consectetur
      h5 Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur 
  .map-items
    .description 
      p Safety
      h4 While walking, you can track the location of your stone
      h5 Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur 
      button.download-btn Download
    .map-section
      img.map-img(src="./assets/imgs/phone.png", alt="")
      button.download-btn Download
  .comfort-items 
    .comfort-img-section
      img.comfort-img(src="./assets/imgs/comfort-img.png", alt="")
      button.catalog-btn Catalog
    .comfort-section 
      p Comfort
      h4 No need to worry about accessories
      h5 Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor
      button.catalog-btn Catalog

.tarifes 
  h2 Tarifes 
  .cards 
    .lite 
      .card_container
        .card_left_section
          h3 Lite
          p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
          h4 10$/per walking
          p.sale -3% on the next walking
        button.start-btn Start 
        .card_rihgt_section
          h5 Lorem ipsum dolor sit amet
          button.add-btn + Lorem ipsum dolor sit 
          button.add-btn + Lorem ipsum dolor sit 
          button.add-btn + Lorem ipsum dolor sit 
      

    .pro 
      .card_container
        .card_left_section
          h3 Pro
          p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
          h4 299$/yearly
          p.sale -5% on the next year
        button.start-btn Start 
        .card_rihgt_section
          h5 Lorem ipsum dolor sit amet
          button.add-btn + Lorem ipsum dolor sit 
          button.add-btn + Lorem ipsum dolor sit 
          button.add-btn + Lorem ipsum dolor sit 
    .max
      .card_container
        .card_left_section
          h3 Max
          p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
          h4 Individual
          p.sale -3% on the next walking
        button.start-btn Start 
        .card_rihgt_section
          h5 Lorem ipsum dolor sit amet
          button.add-btn + Lorem ipsum dolor sit 
          button.add-btn + Lorem ipsum dolor sit 
          button.add-btn + Lorem ipsum dolor sit 
.happy-stones 
  
    h2 Ouer happy stones
    h5 Happy you, happy we
    .right-section
      img(src="./assets/imgs/photo-stones.png", alt="")
    p Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem ipsum dolor sit amet consectetur adipiscing elitLorem ipsum dolor Lcing elitLorem ipsum dolor
  
.comments 
  .comment-item.one
    .title
      img(src="./assets/imgs/mr-stone.png", alt="")
      .nickname
        h3.name Mr. Rock
        h4.surname The stone
    p.cooment We walked with the family for 4 days, in general we were satisfied, good location, everything is nearby and fast by taxi (metro is also not far), restaurant, spa area, breakfasts, in general I liked everything, friendly staff, a compliment for my birthday, an extra bed was a full bed, any requests on a call were resolved within 5-10 minutes.
  .comment-item.two
    .title
      img(src="./assets/imgs/mr-stone.png", alt="")
      .nickname
        h3.name Mr. Rock
        h4.surname The stone
    p.cooment We walked with the family for 4 days, in general we were satisfied, good location, everything is nearby and fast by taxi (metro is also not far), restaurant, spa area, breakfasts, in general I liked everything, friendly staff, a compliment for my birthday, an extra bed was a full bed, any requests on a call were resolved within 5-10 minutes.
  .comment-item.three
    .title
      img(src="./assets/imgs/mr-stone.png", alt="")
      .nickname
        h3.name Mr. Rock
        h4.surname The stone
    p.cooment We walked with the family for 4 days, in general we were satisfied, good location, everything is nearby and fast by taxi (metro is also not far), restaurant, spa area, breakfasts, in general I liked everything, friendly staff, a compliment for my birthday, an extra bed was a full bed, any requests on a call were resolved within 5-10 minutes.
  .comment-item.four
    .title
      img(src="./assets/imgs/mr-stone.png", alt="")
      .nickname
        h3.name Mr. Rock
        h4.surname The stone
    p.cooment We walked with the family for 4 days, in general we were satisfied, good location, everything is nearby and fast by taxi (metro is also not far), restaurant, spa area, breakfasts, in general I liked everything, friendly staff, a compliment for my birthday, an extra bed was a full bed, any requests on a call were resolved within 5-10 minutes.

.coop-company 
  .top-content 
    .left-info
      h5.adept We made clients happy
      h2 150.000+
      h5.h-mane Grateful clients 
    .right-info
      h5 We cooperate with 
      .img-company 
        img.nike(src="./assets/imgs/nike.png", alt="")
        img.bmw(src="./assets/imgs/bmw.png", alt="")
        img.chupa(src="./assets/imgs/chupa.png", alt="")
        img.cisco(src="./assets/imgs/cisco.png", alt="")
        img.apple(src="./assets/imgs/apple.png", alt="")
        img.adobe(src="./assets/imgs/adobe.png", alt="")
        img.amazon(src="./assets/imgs/amazon.png", alt="")
  .middle-content 
    h2 Make your stone happy again 
    button.start Start

  
